/*Universal Code*/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/*Header*/
header {
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
}

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
}

.logo span {
  margin-left: 1rem;
  font-size: 1rem;
}

/*Main Banner*/

.main.banner {
  background: url("../images/moto.jpeg") center no-repeat;
  background-size: cover;
  height: 25rem;
}

.arrivals {
  position: relative;
  top: 9rem;
  background-color: black;
  width: 20rem;
  padding: 3rem 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

/*Navigation*/

nav {
  background-color: firebrick;
}

nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  margin: 0.75rem 0;
}

/*Product Grid*/

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.item {
  text-align: center;
  border: 4px solid black;
  width: 30%;
}

.item .image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13rem;

}

.item img {
  max-height: 9rem;
  max-width: 9rem;
  padding: 2rem;
}

.title {
  background-color: black;
}

.item h3 {
  padding: 0.5rem;
}

/*Location/Hours*/

.locationhours {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.box {
  display: flex;
  flex-direction: column;
  width: 35%;

}

.locationhours .title h3 {
  padding: 1rem 2rem;
}

p {
  padding: 0;
  margin: 0;
}

.description p {
  color: black;
}

/*Footer*/

footer {
  background-color: black;
}

.footer {
  display: flex;
  align-items: center;
  height: 9rem;
}

p {
  text-align: left;
}

/*Design Max 920px*/
@media only screen and (min-width: 1024px) {
  .nodisplay920 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .nodisplay {
    display: none;
  }
  .item {
    width: 47%;
  }

  nav a {
    margin: 0.75rem auto;
  }
}
